# Environment variables
.env

# Python virtual environment & cache
venv/
.venv/
__pycache__/
*.pyc

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local database & logs
*.db
*.log
*.dump

# Project specific
app-old/
resumes/*
!resumes/.gitkeep
node_modules/
